@model MYMVC.Models.ViewModel.EditMeetingViewModel

<div class="bg-Secondary bg-Opacity-10 py-2">
    <div class="container">
        <h2>ReSchedule</h2>
    </div>
</div>
@if(ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
<form method="post" asp-action="RescheduleMeeting">
    <div class="mb=3">
        <label class="form-label">Date:</label>
        <input type="date" id="date" name="Date" asp-for="Date" required>
    </div>
    <div class="mb=3">
        <label class="form-label">Time:</label>
        <input type="time" id="time" name="Time" asp-for="Time" required>
    </div>
    <div class="mb=3">
        <button class=" btn btn-dark" type="submit">Reschedule</button>
    </div>

</form>