@model MYMVC.Models.ViewModel.CreateMessageViewModel


<div class = "bg-Secondary bg-Opacity-10 py-2">
    <div class = "container">
        <h1>Send Message</h1>
    </div>
</div>

<div class="container py-5">
<form method="post">
    <div class="mb-3">
        <label class="form-label">SenderUserName</label>
        <input type="text" class="form-control" id="senderUserName" asp-for= "SenderUserName" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Message</label>
        <input type="text" class="form-control" id="chatContent" asp-for= "ChatContent" required>
    </div>
      <div class="mb=3">
        <button class=" btn btn-dark" type="submit">Create</button>
    </div>
   </form>